Source: ros-rolling-rqt-moveit
Section: misc
Priority: optional
Maintainer: Isaac I.Y. Saito <iisaito@kinugarage.com>
Build-Depends: debhelper (>= 9.0.0), python3-setuptools, ros-rolling-rosidl-default-generators, ros-rolling-ros-workspace, python3-all, python3-setuptools
Homepage: http://wiki.ros.org/rqt_moveit
Standards-Version: 3.9.2

Package: ros-rolling-rqt-moveit
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-python-qt-binding (>= 0.2.19), ros-rolling-rclpy, ros-rolling-rqt-gui, ros-rolling-rqt-gui-py, ros-rolling-rqt-py-common, ros-rolling-rqt-topic, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: An rqt-based tool that assists monitoring tasks for MoveIt! motion planner developers and users.
 Currently the following items are monitored if they are either running, existing or published: Node: /move_group Parameter: [/robot_description, /robot_description_semantic] Topic: Following types are monitored. Published &quot;names&quot; are ignored. [sensor_msgs/PointCloud, sensor_msgs/PointCloud2, sensor_msgs/Image, sensor_msgs/CameraInfo] Since this package is not made by the MoveIt! development team (although with assistance from the them), please post issue reports to the designated tracker (not MoveIt!'s main tracker).
